table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

#results {
	border: 1px solid black;
}

.type-i {
	background-color: rgb(217, 225, 255);
}

.type-e {
	background-color: rgb(255, 218, 218);
}

.type-i .money {
	color: rgb(49, 93, 255);
}

.type-e .money {
	color: rgb(255, 73, 73);
}
